.certificates-list {
      display: flex;
  max-height: 400px;
  overflow: scroll;
  flex-direction: column;
}

.certificates {
  width: 1200px;
}

.checksum-cell {
  width: 200px;
  overflow: scroll;
  height: 50px;
  display: flex;
  align-items: center;
}